@{
  Layout = "_Layout";
}

@using ToDoList.Models;

<div class="container">
  <div class="row">
    <h1 class="text-center my-3">Welcome to the To Do List!</h1>
    <div class="col-md-4">
      <div id="categories-wrapper" class="border rounded p-2">
        <h4>Categories</h4>
        @if (Model["categories"].Length == 0)
        {
          <p>No categories have been added yet!</p>
        }
        <ul>
          @foreach (Category cat in Model["categories"])
          {
            <li>@Html.ActionLink(@cat.Name, "Details", "Categories", new { id = @cat.CategoryId })</li>
          }
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div id="items-wrapper" class="border rounded p-2">
        @if (User.Identity.IsAuthenticated)
        {
          <h4>Items for @User.Identity.Name</h4>
          @if (Model["items"].Length == 0)
          {
            <p>No items have been added yet!</p>
          }
          <ul>
            @foreach (Item item in Model["items"])
            {
              <li>@Html.ActionLink(@item.Description, "Details", "Items", new { id = @item.ItemId })</li>
            }
          </ul>
        }
        else
        {
          <h4>Items</h4>
          <p>Please @Html.ActionLink("log in", "Login", "Account") to view or manage your items.</p>
        }
      </div>
    </div>

    <div class="col-md-4">
      <div id="links-wrapper" class="border rounded p-2">
        <p>@Html.ActionLink("See all items", "Index", "Items")</p>
        <p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
        <p>@Html.ActionLink("See all tags", "Index", "Tags")</p>
        <p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
      </div>
    </div>
  </div>
</div>